.col-lg-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
}
.col-lg-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}
.col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
}
label.lbl-heading {
    font-weight: 500;
    display: block !important;
}
.form-group label {
    color: var(--color-fg) !important;
}
.form-group label {
    font-size: 1rem;
    font-weight: 400;
    color: #3F4254;
}
.lbl-heading {
    font-weight: 600;
}
label {
    display: inline-block;
    margin-bottom: 0.5rem;
}
.text-danger {
    color: #F64E60 !important;
}
/* select.form-control {
    border-radius: 0;
    border-radius: 5px;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 1.3rem + 2px);
    padding: 0.65rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #3F4254;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #E4E6EF;
    border-radius: 0.85rem;
    box-shadow: none;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.select2-container {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    position: relative;
    vertical-align: middle;
}
.select2-hidden-accessible {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}
select {
    word-wrap: normal;
}
button, select {
    text-transform: none;
}
input, button, select, optgroup, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.select2-container--default.select2-container--focus .select2-selection--multiple, .select2-container--default.select2-container--focus .select2-selection--single, .select2-container--default.select2-container--open .select2-selection--multiple, .select2-container--default.select2-container--open .select2-selection--single {
    border-color: #f87f8c;
}
.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow, .select2-container--default .select2-selection--multiple .select2-selection__arrow {
    border: 0;
    margin-left: 0.5rem;
    font-size: 0.85rem;
    left: auto;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: static;
    width: auto;
    height: 20px;
    margin-right: 1rem;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 26px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered .select2-selection__clear {
    border: 0;
    font-size: 0;
    display: inline-block;
    right: 1.85rem;
    margin-right: 0.5rem;
    order: 2;
    position: absolute;
    right: 0;
}
.select2-container--default .select2-selection--single .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold;
}
.select2-container .select2-selection--single .select2-selection__clear {
    position: relative;
}
.select2-container--default .select2-selection--single .select2-selection__rendered .select2-selection__clear:after {
    font-family: Ki;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: 1;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    content: "";
    font-size: 0.6rem;
    color: #7E8299;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: #3F4254;
    position: relative;
    padding: 0.65rem 3rem 0.65rem 1rem;
    line-height: 1.5;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 28px;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    display: block;
    padding-left: 8px;
    padding-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.select2-container--default .select2-selection--single .select2-selection__rendered .select2-selection__clear {
    border: 0;
    font-size: 0;
    display: inline-block;
    right: 1.85rem;
    margin-right: 0.5rem;
    order: 2;
    position: absolute;
    right: 0;
} */