.input-container {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  /* Input field */
  .input-container .form-control {
    padding-right: 2.5rem; /* Add padding to make space for the icon */
  }
  
  /* Icon styling */
  .icon-eye {
    position: absolute;
    right: 1rem; /* Distance from the right edge of the container */
    cursor: pointer;
    color: #888;
  }
  
  .icon-eye:hover {
    color: #333; /* Change color on hover */
  }